#InformacoesPessoais{
    background-color:lightblue;
}
#DadosProfissionais{
    background-color: lightcoral;
}
#areatexto{
    background-color: khaki;
}
#Acoes{
    background-color: lightgreen;
}
#enviar{
    
    background-color: green;
   
}
#borda1,#borda2,#borda3{
    border-style: dashed;
}
    #nome,#email,#Cidade{
        background-color: khaki;
    }
