#forma{
    background-color:#00cc33;
    width: 1000px;
    height: 200px;
    font-size: 20px;
    color: black;
  
}
#borda{
    background-color: #cccccc;
    width: 1000px;
    height: 120px;
    font-size: 20px;
    color: black;
}
  #borda{
 background-color: #cccccc;
    width: 1000px;
    height:120px;
    font-size: 20px;
    color: black;
  }
  #forma{
    background-color:#00cc33;
    width: 1000px;
    height:200px;
    font-size: 20px;
    color: black;
  
}
#fulano{
    color:#999999;
}
#cor1{
    color:#ff0000;
}#cor2
{color: #ff0000}


    

    


 


